body {
    margin: 0;
}

h1 {margin-top: 0;}

div.top {
    background-color: #f4eeff;
}

div.middle {
    background-color: red;    
    height: 200px;
    width: 200px;
}

div.bottom {
    background-color: blue;
    height: 200px;
    width: 200px;
}