body {
    margin: 0;
}

h1 {margin-top: 0;}

.top {
    background-color: #f4eeff;
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

.middle {
    background-color: red;    
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

.bottom {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}